---
import {
  FaFacebookF,
  FaInstagram,
  FaBirthdayCake,
  FaCamera,
  FaCandyCane,
} from "react-icons/fa";
import { Image } from "astro:assets";
import { LuPartyPopper } from "react-icons/lu";
import logo from "../images/logoblog.png";

// Placeholder for user data. Replace with actual user data retrieval in your Astro setup .
const user = { role: "admin" };
---

<footer class="bg-gray-900 text-white py-8 px-3">
  <div class="container mx-auto">
    <hr class="border-t border-gray-700 my-5" />
    <div class="flex flex-wrap justify-between mb-5">
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <a href="/">
          <Image src={logo} alt="logo" class="w-full h-auto" />
        </a>
      </div>
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h5 class="text-xl font-semibold mb-2">Servicios</h5>
        <ul class="list-none">
          <li class="mb-2">
            <a
              href="https://www.happinesspark.net/picatutorta"
              class="text-white hover:text-gray-400"
            >
              <FaBirthdayCake class="inline mr-2" /> Pica Tu Torta
            </a>
          </li>
          <li class="mb-2">
            <a href="/fiestaprivada" class="text-white hover:text-gray-400">
              <LuPartyPopper class="inline mr-2" /> Fiesta Privada
            </a>
          </li>
          <li class="mb-2">
            <a href="/eventos" class="text-white hover:text-gray-400">
              <FaCamera class="inline mr-2" /> Eventos
            </a>
          </li>
          <li class="mb-2">
            <a
              href={user.role === "admin" ? "/admin-dashboard" : "/dashboard"}
              class="text-white hover:text-gray-400"
            >
              <FaCandyCane class="inline mr-2" /> Mi cuenta
            </a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h5 class="text-xl font-semibold">Contacto</h5>
        <p>
          <span class="font-semibold">Dirección:</span> Av. Paez, edif. Rovi planta
          baja, Local: s/n. Sector Principal Acarigua, Portuguesa
          <br />
          <span class="font-semibold">Teléfono:</span> 0414-5020050
          <br />
          <span class="font-semibold">Email:</span> happiness.park@gmail.com
        </p>
      </div>
      <div class="w-full md:w-1/4 mb-6 md:mb-0">
        <h5 class="text-xl font-semibold mb-3">Síguenos</h5>
        <div class="flex space-x-4">
          <a
            href="https://www.instagram.com/happiness.park_/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white hover:text-gray-400"
          >
            <FaInstagram class="text-2xl" size="40" />
          </a>
          <a
            href="https://www.facebook.com/profile.php?id=100095143322214"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white hover:text-gray-400"
          >
            <FaFacebookF class="text-2xl" size="40" />
          </a>
        </div>
      </div>
    </div>
    <hr class="border-t border-gray-700 my-5" />
    <div class="text-center">
      <p class="mb-0">
        © 2023 Happiness Park C.A. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
